################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xabe.FFmpeg/obj
/Xabe.FFmpeg/nuget
/Xabe.FFmpeg/bin/Release/netstandard1.3
/Xabe.FFmpeg.Test/obj
/.vs/Xabe.FFmpeg/v15/sqlite3
/Xabe.FFmpeg.Test/bin/Debug/netcoreapp2.0
/Xabe.FFmpeg.Test/bin/Release/netcoreapp2.0
/Xabe.FFmpeg/bin/Debug/netstandard2.0
/Xabe.FFmpeg/bin/Release/netstandard2.0
/.vs/*
*.nupkg
*.user
/Xabe.FFmpeg.Test/bin/Debug/netcoreapp1.1
/Xabe.FFmpeg/bin/Debug/netstandard1.6
