# Cli Version: 1.3.5

name: $(Date:yyyy).$(Date:MM).$(Date:dd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
    - master

pr:
  - master

pool:
  name: Default

parameters:
  - name: Tag
    default: $(Build.BuildNumber)

variables:  
  BuildConfiguration: 'Release'
  ArtifactStagingDirectory: '$(Build.ArtifactStagingDirectory)'
  ArtifactName: 'drop'

stages:
  - stage: build
    displayName: Build and test
    jobs:
      - job: waitForValidation
        displayName: Wait for external validation
        timeoutInMinutes: 4320
        pool: server
        steps:
        - task: ManualValidation@0
          timeoutInMinutes: 4320
          inputs:
            notifyUsers: |
              tomasz.a.zmuda@gmail.com
            onTimeout: 'reject'
      # - job: run_tests
      #   timeoutInMinutes: 60
      #   dependsOn: waitForValidation
      #   displayName: Run tests
      #   steps:
      #     - task: UseDotNet@2
      #       displayName: 'Set .NET Core to 3.1'
      #       inputs:
      #         packageType: sdk
      #         version: 3.1.x
      #         installationPath: $(Agent.ToolsDirectory)/dotnet
      #     - task: DotNetCoreCLI@2
      #       displayName: 'dotnet test'
      #       inputs:
      #         command: test
      #         projects: '**/Xabe.FFmpeg.Test.csproj'
      #         arguments: '-c ${{ variables.BuildConfiguration }} -v=normal'
      #         publishTestResults: true  
      # - job: run_downloader_tests
      #   timeoutInMinutes: 60
      #   dependsOn: waitForValidation
      #   displayName: Run downloader tests
      #   steps:
      #     - task: UseDotNet@2
      #       displayName: 'Set .NET Core to 3.1'
      #       inputs:
      #         packageType: sdk
      #         version: 3.1.x
      #         installationPath: $(Agent.ToolsDirectory)/dotnet
      #     - task: DotNetCoreCLI@2
      #       displayName: 'dotnet test'
      #       inputs:
      #         command: test
      #         projects: '**/Xabe.FFmpeg.Downloader.Test.csproj'
      #         arguments: '-c ${{ variables.BuildConfiguration }} -v=normal'
      #         publishTestResults: true
      - job: build_artifacts
        timeoutInMinutes: 60
        dependsOn: waitForValidation
        displayName: Build artifacts
        steps:
          - task: UseDotNet@2
            displayName: 'Set .NET Core to 3.1'
            inputs:
              packageType: sdk
              version: 3.1.x
              installationPath: $(Agent.ToolsDirectory)/dotnet
          - powershell: |
              echo ${{ parameters.Tag }}
              dotnet build -c ${{ variables.BuildConfiguration }} -p:Version=${{ parameters.Tag }} /p:GenerateDocumentationFile=true
            failOnStderr: true
            workingDirectory: ./src/Xabe.FFmpeg
            displayName: 'Dotnet build'
          - powershell: |
              dotnet pack --no-build -c ${{ variables.BuildConfiguration }} -o ${{ variables.ArtifactStagingDirectory }} /p:PackageVersion=${{ parameters.Tag }} /p:GenerateDocumentationFile=true
            failOnStderr: true
            workingDirectory: ./src/Xabe.FFmpeg
            displayName: 'Dotnet pack'
          - powershell: |
              dotnet build -c ${{ variables.BuildConfiguration }} -p:Version=${{ parameters.Tag }} /p:GenerateDocumentationFile=true
            failOnStderr: true
            workingDirectory: ./src/Xabe.FFmpeg.Downloader
            displayName: 'Dotnet build downloader'
          - powershell: |
              dotnet pack --no-build -c ${{ variables.BuildConfiguration }} -o ${{ variables.ArtifactStagingDirectory }} /p:PackageVersion=${{ parameters.Tag }} /p:GenerateDocumentationFile=true
            failOnStderr: true
            workingDirectory: ./src/Xabe.FFmpeg.Downloader
            displayName: 'Dotnet pack downloader'
          - publish: ${{ variables.ArtifactStagingDirectory }}
            artifact: '${{ variables.ArtifactName }}'


  - stage: test_release
    displayName: "Deploy to test feed"
    condition: succeeded()
    jobs:
      - job:
        workspace:
          clean: all
        displayName: Release to test feed
        steps:
          - checkout: none
          - download: current
          - task: UseDotNet@2
            displayName: 'Set .NET Core to 3.1'
            inputs:
              packageType: sdk
              version: 3.1.x
              installationPath: $(Agent.ToolsDirectory)/dotnet
          - task: NuGetAuthenticate@0
            inputs:
              nuGetServiceConnections: ''
          - powershell: |
              dotnet nuget push "*.nupkg" --api-key az --skip-duplicate --source https://xabe.pkgs.visualstudio.com/ffmpeg/_packaging/ffmpeg/nuget/v3/index.json
            workingDirectory: '$(Pipeline.Workspace)/${{ variables.ArtifactName }}'
            displayName: 'dotnet push'
              
            
  - stage: prod_release
    displayName: "Deploy to NuGet"
    condition: and(and(succeeded(), ne(variables['Build.Reason'], 'PullRequest')), ne('${{ parameters.Tag }}', '$(Build.BuildNumber)'))
    variables:
      -group: NuGet
    jobs:
      - job:
        workspace:
          clean: all
        steps:
          - checkout: none
          - download: current
          - task: UseDotNet@2
            displayName: 'Set .NET Core to 3.1'
            inputs:
              packageType: sdk
              version: 3.1.x
              installationPath: $(Agent.ToolsDirectory)/dotnet
          - powershell: |
              dotnet nuget push "*.nupkg" --api-key $(nuget_org) --skip-duplicate -s https://api.nuget.org/v3/index.json
            workingDirectory: '$(Pipeline.Workspace)/${{ variables.ArtifactName }}'
            displayName: 'dotnet push'
